
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.col-md-8{
  padding-left: 5px;
  padding-right: 5px;
}
.btn-group.form-check-label:active {
  border-color: #000000;
    // color: $color-primary;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  max-height: 50px;
  vertical-align: middle;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  max-height: 50px;
  vertical-align: middle;
}
input {
  visibility: hidden;
}
