
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.col-md-8{
  padding-left: 5px;
  padding-right: 5px;
}
label {
  cursor: pointer;
  min-width: 85px;
  display:inline-block;
  position:relative;
}
.btn-group > .btn:last-child, .btn-group > .btn-group:last-child > .btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  max-height: 50px;
  vertical-align: middle;
}
.btn-group > .btn:nth-child(2), .btn-group > .btn-group:nth-child(2) > .btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  max-height: 50px;
  vertical-align: middle;
}
.btn-group > .btn:active{
  border:5px;
  border-color: black;
}

.btn-group{
  display: flex;
  margin-right: 10px;
}
input[type=radio] {
  display: none;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}
